/* Import Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Actual CSS */

* {
    scroll-behavior: smooth;
}

:root {

    /* Background Colors */

    --normal-bg: #0f0e0e;
    --light-bg: #dfdfdf;
    --normal-div: #0d0c0c;

    /* Text and Items Colors */
    
    --main-clr: #8a00c4;
    --neon-clr: #520075;
    --paragraph-clr: #a600eb;
    --shadow-clr: rgba(0, 0, 0, 0.4);

    /* Status Colors */

    --online-clr: #22a559;
    --dnd-clr: #f23f43;
    --idle-clr: #f0b232;
    --offline-clr: #80848e;

}

div.primary {

    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding: 10px 75px 50px 75px;
    border-radius: 25px;
    background-color: var(--normal-div);
    box-shadow: 0px 0px 20px 20px var(--shadow-clr);
    margin-top: 10vh;

    div.text {

        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 40px;
        }

    }

    div.pfp {

        display: flex;
        align-items: center;
        justify-content: center;

        img {

            width: 175px;
            border-radius: 50%;
            margin-top: 40px;
            
        }

    }

    a.button {

        /* Button Styling */

        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        min-height: 35px;
        color: var(--paragraph-clr);
        border-radius: 5px;
        border: 2px solid var(--paragraph-clr);
        cursor: pointer;
        text-decoration: none;

        /* Font */

        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;

        /* Transition */

        transition: ease-in;
        transition-duration: 150ms;

    }

    a.button:hover {

        /* Hover Changes */

        background-color: var(--paragraph-clr);
        color: #fff;
        box-shadow: 0px 0px 5px 5px var(--neon-clr);

        /* Font */

        font-family: "Poppins", sans-serif;
        font-weight: bold;

        /* Transition */

        transition: ease-in;
        transition-duration: 300ms;
        
    }

}

div.skills {

    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    height: auto;
    padding: 10px 50px 50px 50px;
    border-radius: 25px;
    background-color: var(--normal-div);
    box-shadow: 0px 0px 20px 20px var(--shadow-clr);

    div.cards {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        div.card {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--main-clr);
            text-shadow: 0 0 20px var(--neon-clr);
            box-shadow: 0px 0px 20px 20px var(--shadow-clr);
            height: 150px;
            width: 100px;
            border-radius: 15px;
            margin: 20px 20px 20px 20px;
            padding-top: 10px;
            line-height: 0.8;
            cursor: pointer;

            transition: ease-in;
            transition-duration: 150ms;

            i {
                font-size: 65px;
            }

            h1 {
                font-size: 20px;
            }

        }

        div.card:hover {
            box-shadow: 0px 0px 15px 15px var(--neon-clr);
            transition: ease-in;
            transition-duration: 300ms;
        }

    }

}

div.contacts {

    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    height: auto;
    padding: 10px 50px 50px 50px;
    border-radius: 25px;
    background-color: var(--normal-div);
    box-shadow: 0px 0px 20px 20px var(--shadow-clr);

    div.buttons {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    a.button {

        /* Button Styling */

        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        min-height: 50px;
        color: var(--paragraph-clr);
        border-radius: 15px;
        border: 2px solid var(--paragraph-clr);
        cursor: pointer;
        text-decoration: none;

        /* Font */

        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;

        /* Transition */

        transition: ease-in;
        transition-duration: 150ms;

    }

    a.button:hover {

        /* Hover Changes */

        background-color: var(--paragraph-clr);
        color: #fff;
        box-shadow: 0px 0px 5px 5px var(--neon-clr);

        /* Font */

        font-family: "Poppins", sans-serif;
        font-weight: bold;

        /* Transition */

        transition: ease-in;
        transition-duration: 300ms;
        
    }

}

div.footer {

    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: auto;
    padding: 0px 20px 0px 20px;
    border-radius: 25px;
    background-color: var(--normal-div);
    box-shadow: 0px 0px 20px 20px var(--shadow-clr);
    margin-bottom: 10vh;

}

div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    min-height: 100vh;
}

body {

    margin: 0;
    padding: 0;
    background-color: var(--normal-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: var(--main-clr);
        text-shadow: 0 0 20px var(--neon-clr);
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    p {
        color: var(--paragraph-clr);
        text-shadow: 0 0 20px var(--neon-clr);
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        img {
            width: 20px;
        }
    }

}

span {
    font-weight: bold;
}

span.online {
    color: var(--online-clr);
    text-shadow: 0 0 5px var(--online-clr);
}

span.dnd {
    color: var(--dnd-clr);
    text-shadow: 0 0 5px var(--dnd-clr);
}

span.idle {
    color: var(--idle-clr);
    text-shadow: 0 0 5px var(--idle-clr);
}

span.offline {
    color: var(--offline-clr);
    text-shadow: 0 0 5px var(--offline-clr);
}

@media only screen and (max-width: 500px) {

    body {
      scale: 0.7;
    }

    div.primary {
        margin-top: -15vh;
    }

    div.footer {
        margin-bottom: -18vh;
    }
}